.DS_Store
node_modules
/dist
/server/dist
/server/screenshots
/screenshots
/test

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# deploy files
deploy.sh